<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JRouter Downloads</title>
    <meta content="JRouter Downloads 下载" name="keywords"/>
    <meta content="JRouter Downloads 下载" name="description"/>
    <meta th:replace="~{/template_home :: header}"/>
    <!--/*-->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="../../favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="../../css/bootstrap.css" rel="stylesheet"/>
    <link href="../../css/blog.css" rel="stylesheet"/>
    <!--*/-->
</head>
<body>
<div th:replace="~{/template_home :: body('downloads', '' ,  ~{::div#content})}">
    <div id="content">
        <div class="row">
            <div class="blog-header">
            </div>
            <div class="col-sm-10 blog-main">
                <div class="blog-post">
                    <h2>Downloads 下载</h2>
                    <hr>
                    <a name="Laest"></a>
                    <h3>最新下载</h3>
                    <ul>
                        <li>
                            <a target="_blank"
                               th:href="|${sharedVariables['jrouterDownloadURL']}/net/jrouter/jrouter/${sharedVariables['jrouterVersion']}/jrouter-${sharedVariables['jrouterVersion']}.jar|">
                                jrouter-[(${sharedVariables['jrouterVersion']})].jar
                            </a>
                        </li>
                        <li>
                            <a target="_blank"
                               th:href="|${sharedVariables['jrouterDownloadURL']}/net/jrouter/jrouter/${sharedVariables['jrouterVersion']}/jrouter-${sharedVariables['jrouterVersion']}-sources.jar|">
                                jrouter-[(${sharedVariables['jrouterVersion']})]-sources.jar
                            </a>
                        </li>
                        <li>
                            <a href="https://search.maven.org/search?q=g:net.jrouter%20AND%20a:jrouter&core=gav"
                               target="_blank">
                                历史版本
                            </a>
                        </li>
                    </ul>

                    <hr/>
                    <a name="其它"></a>
                    <h3>其它</h3>
                    <p>
                        一个方便
                        <a target="_blank" th:href="|${url.toURL('/showFactoryStatus')}|">
                            查看容器各参数的工具
                        </a>
                        ，当然首先必须能够获取得到
                        <a target="_blank"
                           th:href="|${sharedVariables['jrouterSourceURL']}/java/net/jrouter/ActionFactory.java|">ActionFactory</a>对象。
                        <br/>
                        <a target="_blank" th:href="|${base?:''}/factory-status.jsp|">点击查看本站的相关参数</a>。
                    </p>
                </div><!-- /.blog-post -->
            </div><!-- /.blog-main -->
        </div><!-- /.row -->
    </div>
</div>
<footer th:replace="~{/template_home :: footer(false)}"/>
</body>
</html>
