<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>|%date{yyyy-MM-dd HH:mm:ss}|%p|%thread|%logger %line%n%m%n</pattern>
        </encoder>
    </appender>
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <encoder>
            <pattern>|%date{yyyy-MM-dd HH:mm:ss}|%p|%thread|%logger %line%n%m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover 区根目录 -->
            <fileNamePattern>${log.home:-.}/log/jrouter_home.%d{yyyyMMdd}.log</fileNamePattern>
            <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache.commons.beanutils" level="WARN"/>
    <logger name="freemarker" level="WARN"/>
    <logger name="jrouter" level="INFO"/>

    <logger name="jrouter.framework" level="DEBUG"/>
    <logger name="jrouter.home" level="DEBUG"/>

    <logger name="slow.action" level="WARN" additivity="false">
        <appender-ref ref="R"/>
    </logger>

    <root level="${log.level:-INFO}">
        <appender-ref ref="stdout"/>
        <appender-ref ref="R"/>
    </root>
</configuration>